<% content_for(:javascript) do %>
  <%= javascript_include_tag "items_index" %>
<% end %>

<% form_for :list, :url => list_path, :html => {:method => :put} do |f| %>
  <h3>
    Not done:
  </h3>

  <ul id="undone">
    <%= render :partial => "item", :collection => @not_done %>
  </ul>

  <h3>
    Done:
  </h3>

  <ul id="done">
    <%= render :partial => "item", :collection => @done %>
  </ul>
  
  <p>
    <%= submit_tag "Save changes", :id => "save_changes" %>
  </p>
<% end %>

<p>
  <%= link_to "Add new item", new_item_path, :id => "add_new_link", 
                   :style => "display: none;" %>
</p>

<%= render :partial => "form" %>